
{% extends 'base.html.twig' %}

{% block title %}Add Competance!{% endblock %}

{% block body %}
    <div class="formulaire-design">

    {{ form(f, {attr: {novalidate: 'novalidate'}}) }}
    </div>

{% endblock %}