{% extends 'base.html.twig' %}

{% block title %}Edit Competance!{% endblock %}

{% block body %}
    <div class="formulaire-design">
{{ form(f, {attr: {novalidate: 'novalidate'}}) }}
    </div>


{% endblock %}