{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}
{% block body %}
    <div style=" display: flex;justify-content: center;align-items: center;margin: auto;">
        <div style="margin-top: 120px">
            {{ form(f,{attr: {novalidate: 'novalidate'}}) }}
        </div>
    </div>

{% endblock %}