{% extends 'base.html.twig' %}



{% block body %}
    <div style="margin-top: 100px">
    {{ form_start(form) }}
    {{  form_rest(form)}}
    <button>Save</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
