{% extends 'base.html.twig' %}



{% block body %}
    <div style="display: flex;justify-content: center;align-items: center">
        {{ form(form,{attr: {novalidate: 'novalidate'}}) }}
    </div>
{% endblock %}
