{% extends 'base.html.twig' %}

{% block title %} Modifier Formation {% endblock %}

{% block body %}
<div class="formulaire-design">
{{ form(f,{attr:{novalidate:'novalidate'}}) }}
</div>

{% endblock %}