{% extends 'base.html.twig' %}

{% block title %}Edit Demandestage{% endblock %}

{% block body %}
<div style="display: flex;align-items: center;justify-content: center;padding:70px ">
  <div class="top-margin" >

    

 
    {{ include('demandestage/_form.html.twig', {'button_label': 'Update'}) }}
   
       </div>
</div>
{% endblock %}
