{% extends 'base.html.twig' %}

{% block title %}Score{% endblock %}

{% block body %}
<div style="display: flex;align-items: center;justify-content: center;padding:150px">
    {% for s in score %}

    <div class="col-md-3 col-sm-6 highlight" style="box-shadow:5px 2px 2px" >
					<div class="h-caption"></i><h4>{{ domaine }} Quiz</h4></div>
					<div class="h-body text-center">
                        Note : {{ s.score }}
                        <br>
                        Date : {{ date | date("d/m/Y") }}
					</div>
				</div>


   
        
    {% endfor %}

</div>
 <a href="{{ path('app_score_index') }}">back to list</a>

{% endblock %}
