{% extends 'base.html.twig' %}
{% block body %}
    <style>
        img {
            border-radius: 50%;
        }
    </style>
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">Les bibliotheques </h3>

            <div class="row">
                {% for b in bibC %}
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><img src="uploads/bib.png" alt="Profile" class="rounded-circle" width="50" height="50"> <br><br> <a href ="{{ path ('app_livreC',{'id':b.intc })}}">
                             Nom : {{ b.nomc }} </a></h4></div>
                    <div class="h-caption"><h4> Domaine :{{b.domainec}}</h4></div>
                    <div class="h-body text-center">
                        <p> <h8> Description : {{ b.descriptionc }} </h8></p>
                    </div>

                </div>
                {% endfor %}


            </div> <!-- /row  -->

        </div>
    </div>


{% endblock %}

